<script>

</script>

<h2>All {{{invoices.length}}} Invoices</h2>

<ul>
    {{#each invoices}}
    <div>
        <h3>{{{DocNumber}}} - {{{date TxnDate}}} - {{{CustomerRef.name}}} <a href="/invoice/{{Id}}/shipping" class="shipping-document">Shipping Document</a></h3>

    </div>
    {{/each}}
</ul>
<script>
    $(document).ready(function () {

    })
</script>